body {
  background-color: rgb(25, 25, 25);
  margin: 0;
  overflow: hidden;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

canvas {
  width: min(100vw, calc(100vh * 16/9));
  height: min(100vh, calc(100vw * 9/16));
  image-rendering: pixelated;
}